.insta-logo {
  width: 20%;
  /* margin-top: 15%; */
}
/* .nav-container {
  margin-left: -50%;
} */
/* .message {
  background-color: black;
} */
.insta-nav {
  margin-bottom: 7%;
}
.hr-nav {
  overflow: visible;
  margin-top: 6%;
}
.insta-logo-div {
  height: 30px;
}
